*.aab
*.apk
*.hprof
*.iml
*.jks
*.keystore
*.log
.DS_Store
.cxx/
.externalNativeBuild/
.gradle/
.idea/
.kotlin/
/build
/captures
build/
captures/
deploymentTargetDropDown.xml
google-services.json
local.properties
misc.xml
output-metadata.json
render.experimental.xml
